*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000; /* Solid black background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 240px; /* Adjusted maximum width */
    background-color: #000; /* Solid black background */
    padding: 20px;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 60px); /* Adjusted column width */
    grid-template-rows: minmax(80px, auto) repeat(5, 60px); /* Adjusted row height */
    gap: 3px; /* Reduced gap between grid items */
    max-width: 240px; /* Limit maximum width */
    margin: 0 auto; /* Centering horizontally */
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.2rem; /* Adjusted font size */
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 8px; /* Reduced padding */
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1rem; /* Adjusted font size */
}

.output .current-operand {
    color: rgb(0, 0, 0);
    font-size: 1.5rem; /* Adjusted font size */
}
